@import "tailwindcss";

:root {
  --creme: #FDF8F0;
  --ocre: #C4832A;
  --brun: #2C2416;
  --brun-light: #5C4A2A;
  --beige: #F5EDD8;
  --beige-border: #E8D5B7;
  --gold: #8B6914;
}

body {
  background: var(--creme);
  color: var(--brun);
  font-family: Georgia, serif;
}
